<?xml version='1.0'?>
<clipcaptcha>
	<provider>
		<name>reCAPTCHA</name>
		<hostname>www.google.com</hostname>
		<path>/recaptcha/api/verify</path>
		<success>
			<rcode>200</rcode>
			<rcodestr>OK</rcodestr>
			<rbody>true</rbody>
		</success>
		<failure>
			<rcode>200</rcode>
			<rcodestr>OK</rcodestr>
			<rbody><![CDATA[false\nincorrect-captcha-sol]]></rbody>
		</failure>
	</provider>
	<provider>
		<name>OpenCAPTCHA</name>
		<hostname>www.opencaptcha.com</hostname>
		<path>/validate.php</path>
		<success>
			<rcode>200</rcode>
			<rcodestr>OK</rcodestr>
			<rbody>pass</rbody>
		</success>
		<failure>
			<rcode>200</rcode>
			<rcodestr>OK</rcodestr>
			<rbody>fail</rbody>
		</failure>
	</provider>
	<provider>
		<name>Captchator</name>
		<hostname>captchator.com</hostname>
		<path>/captcha/check_answer/</path>
		<success>
			<rcode>200</rcode>
			<rcodestr>OK</rcodestr>
			<rbody>1</rbody>
		</success>
		<failure>
			<rcode>200</rcode>
			<rcodestr>OK</rcodestr>
			<rbody>0</rbody>
		</failure>
	</provider>
</clipcaptcha>
